/* Kundscghaft Styles */
div.component.kundschaft {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  h3 {
    text-align: center;
  }
  /* HEX Grid */
  * {
    margin: 0;
    padding: 0;
  }
  #hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: sans-serif;
    list-style-type: none;
  }
  .hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    transition: all 0.5s;
    backface-visibility: hidden;
    will-change: transform;
    transition: all 0.5s;
  }
  .hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
  }
  .hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin: 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transition: all 0.5s;
  }
  .hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
  .hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }

  .hex h1, .hex p {
    width: 100%;
    padding: 5%;
    box-sizing:border-box;
    font-weight: 300;
    opacity: 0;
  }
  .hex h1:before, .hex h1:after {
    display: none;
    margin: 0 0.5em;
    width: 0.25em;
    height: 0.03em;
    background: #ffffff;
    content: '';
    vertical-align: middle;
    transition: all 0.3s;
    text-align:center;
  }

  .customer-testimonial {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    position: relative;
    color: black;
    font-size: 1em;
    line-height: 1.1;

    a,
    * {
      color: black;
      text-align: center;
      font-family: 'Aller', sans-serif;
      font-weight: 400;
      padding: 2rem 1rem 0 1rem;
    }

    .customer-name {
      padding: 1rem;
      width: auto;
      max-width: 100%;
      background: transparent;
      display: block;
      position: relative;
      font-weight: 800;
      font-family: 'Aller Bold', sans-serif;
      text-align: center;
      color: #C2CF00;
      font-size: 1.2em;
      &:hover {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 1000px) {
      font-size: 1em;
      line-height: 1;
    }
    /* auto hyphenate for span and p elements in hexagons */
    span, p {
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }
  .img {
    position: absolute;
    * {
      position: relative;
      display: flex;
    }
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eee;
    background-position: center center;
    background-size: 100%;
    image-rendering: auto;
    background-repeat: no-repeat;
    // border: 0.25rem solid #eee;
    overflow: visible;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    &:hover {
      background-color: #C2CF00;
    }
  }

  /*** HOVER EFFECT  **********************************************************************/

  .hexLink:not(.image-only).flipped h1, .hexLink:focus h1,
  .hexLink:not(.image-only).flipped p, .hexLink:focus p{
    opacity:1;
    transition: 0.3s;
    img.customer-logo-back {
      visibility: visible;
    }
  }

  .hexIn.flipped .img:before,
  .hexIn.flipped .img:after,
  .hexIn.flipped .hexLink {
    opacity: 1;
  }

  /*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
  @media (min-width:5000px) { /* <- 5-4  hexagons per row */
    #hexGrid{
      padding-bottom: 5%
    }
    .hex {
      width: 20%; /* = 100 / 5 */
    }
    .hex:nth-child(9n+6){ /* first hexagon of even rows */
      margin-left:10%;  /* = width of .hex / 2  to indent even rows */
    }
  }

  @media (max-width: 5000px) and (min-width:901px) { /* <- 4-3  hexagons per row */
    #hexGrid{
      padding-bottom: 7%;
      font-size: 13px;
    }
    .hex {
      width: 25%; /* = 100 / 4 */
    }
    .hex:nth-child(7n+5){ /* first hexagon of even rows */
      margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
    }
  }

  @media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    #hexGrid{
      padding-bottom: 9%;
      font-size: 14px;
    }
    .hex {
      width: 33.333%; /* = 100 / 3 */
    }
    .hex:nth-child(5n+4){ /* first hexagon of even rows */
      margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
    }
  }

  @media (max-width: 600px) { /* <- 2-1  hexagons per row */
    #hexGrid{
      padding-bottom: 13%;
      font-size: 12px;
    }
    .hex {
      width: 50%; /* = 100 / 3 */
    }
    .hex:nth-child(3n+3){ /* first hexagon of even rows */
      margin-left:25%;  /* = width of .hex / 2  to indent even rows */
    }
  }

  @media (max-width: 400px) {
    #hexGrid {
      font-size: 8px;
    }
  }

}

.image-only:hover {
  cursor: pointer;
}
