/* Header Styles */
div.full-height.component.header {
  overflow: hidden;
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1cf00+0,ffffff+100 */
  // background: #c1cf00; /* Old browsers */
  // background: -moz-linear-gradient(top, #c1cf00 0%, #ffffff 51%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top, #c1cf00 0%,#ffffff 51%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom, #c1cf00 0%,#ffffff 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1cf00', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+55,c1cf00+98 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ffffff 64%,
    #c1cf00 98%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ffffff 64%,
    #c1cf00 98%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff 64%,
    #c1cf00 98%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1cf00',GradientType=0 ); /* IE6-9 */
  h1,
  h3 {
    color: #ddd;
    text-align: center;
  }
  h3 {
    font-size: 2em;
    margin-top: 10px;
    @media screen and (max-width: 1000px) {
      font-size: 1.8em;
      margin-top: 10px;
    }
    @media screen and (max-width: 800px) {
      font-size: 1.5em;
      margin-top: 8px;
    }
    @media screen and (max-width: 599px) {
      margin-top: 5px;
      font-size: 1.2em;
    }
  }
}

div.logo-container {
  width: 40%;
  min-width: 200px;
  height: auto;
  max-width: 640px;
  z-index: 7777;
}

div.scroll-down {
  position: absolute;
  bottom: 5px;
  i.icon.arrow.down {
    color: white;
    font-size: 3em;
    @media screen and (max-width: 400px) {
      font-size: 2.6em;
    }
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-30px) scale(1);
    opacity: 0.8;
  }
  60% {
    transform: translateY(-15px) scale(1);
    opacity: 1;
  }
}

#particle-wrapper-header > canvas, #particle-wrapper-footer > canvas {
  position: absolute !important;
}
