
@font-face {
  font-family: 'Aller-Bold';
  src: url('Aller-Bold.eot?#iefix') format('embedded-opentype'),  url('Aller-Bold.woff') format('woff'), url('Aller-Bold.ttf')  format('truetype'), url('Aller-Bold.svg#Aller-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
