@font-face {
    font-family: 'allerregular';
    src: url('aller-webfont.woff2') format('woff2'),
         url('aller-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}